nav ul {
    list-style: none;
    background-color: #023e8a;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 15px;
}

nav a  { 
    text-decoration: none;
    color: white;
    font-weight: bold;
    
}
nav a:hover {
    text-decoration: underline;
}

body {
    background-color:#f8f9fa;
    color: #333;
    font-family: 'poppins', sans-serif;
}
header {
    background-color: #0077b6;
    color: white;
    text-align: center;
    padding: 20px;

}
section{
    margin: 40px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


}
h1,h2,h3,p {
    text-align: center ;
}
.photo profil {
    width: 200px;
    height: 150px;
    border border-radius: 10px;
    display: block;
    margin: 0 auto

}

table { 
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}
    th, td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
    }
    th{
        background-color: #0077b6;

}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input,textarea{
    width: 60%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button{
    background-color: #0077b6;
    color: white;
    border:none;
    padding: 10px 20px;
    border-radius: 5px;
}
button:hover{
    background-color: #023e8a;
}